<div>
    <div class="partneri"><h2>PARTNERI</h2></div>
    
    <div class="partnerigrid">
        <div><img src="assets/footer1.png"></div>
        <div><img src="assets/footer2.png"></div>
        <div><img src="assets/footer3.png"></div>
        <div><img src="assets/footer4.png"></div>

    </div>


    <div class="home5">
        <div >
        <img src="assets/LUCE.png" >
        </div>
        <div class="home5text"><h2>Kontakt</h2>

        <a style="font-weight: bold;">UM, n.o.,</a> <br>
        Centrum nezávislého<br> vizuálneho umenia<br>
        Horná 36, 974 01 Banská Bystrica <br>
        
        <a href="mailto:svetlovmeste@gmail.com" style="display: inline-block; color: black; font-weight:bold;"><div [textContent]="' svetlovmeste@gmail.com'">
        </div></a>
        </div> 
        <div class="home5text">
            Bc.Oliver Kuklovský <br>
            riaditeľ festivalu<br>
            <a style="font-weight: bold;">tel: +421 949 609 167</a> 

        </div>
    </div> 


   
</div> 
