<!-- src/app/home/home.component.html -->
<div>
  <div class="home">
      <img src="assets/15.jpg" alt="homesite">
      <div class="homeText">
        <p >Svetlo v meste 2024</p>
        <p >28.9./19:30 _________ 23:30 </p>
        <p class="smallFont ">Banská Bystrica </p>
        <!--<video width="600" controls>
          <source src="assets/video2.mp4" type="video/mp4">
          Your browser does not support the video tag.
      </video>-->   
       </div>     
  </div>

  <div>
    <img src="assets/2.png">
    <p>janosadsad</p>
  </div>
</div>
  