<!-- src/app/home/home.component.html -->
<div class="container">
  
  <div class="home">
      <img src="assets/15.jpg" alt="homesite">
      <div class="homeText">
        <p >Svetlo v meste 2024</p>
        <p >28.9./19:30 _________ 23:30 </p>
        <p class="smallFont ">Banská Bystrica </p>
        
       </div>     
  </div>

  <div class="home2 section">
    <div class="homegrid1">
      <div >Festival  <p style="display: inline; font-weight: bold;"> SVETLO v MESTE</p>
        je vizuálno-umelecké <br />podujatie.
         na Námestí SNP v Banskej Bystrici.
        </div>
        <div style="font-weight: bold;">V programe festivalu sa objavia</div>

      <div >
        < Videomappingy <br />
        < Statické svetelné objekty <br />
        < Interaktívne svetelné inštalácie<br />
        < Site-specific svetelné <br />
         a zvukové inštalácie
        </div>
    </div>
    <div class="homegrid2 ">
      <div class="image-container">
        <img src="assets/11.jpg">
        <div class="image-text">
          <h2>Kto sme </h2><br />

          Zohratý kreatívny tím mladých umelcov <br>a eventových realizátorov <br>s dlhoročnými skúsenosťami zoskupení v neziskovej organizácii  UM. n.o.
        </div>
        </div>
      <div class="image-container">
        <img src="assets/18.jpg">
        <div class="image-text">
         <h2>Čo robíme</h2> <br />

        Nový festival v Banskej Bystrici Festival Svetlo <br>v Meste.  Jeho 1. ročník sa uskutoční 28. septembra 2024 a nadväzuje na pilotný projekt z roku 2023 <br>s názvom Svetlo v Kúte.
        </div>
        </div >
      <div class="image-container">
        <img src="assets/13.jpg">
        <div class="image-text">
        <h2>SVETLO v KÚTE</h2> 
        <p  class="vcislach" style="font-size: 1.1875rem;  ">v číslach</p><br />
        
        Návštevnosť 1 500 ľudí<br />
        Zdieľanie na sociálnych sieťach 600<br />
        Videnie soc. siete 90 000
        </div>
       
        </div>
    </div>
    <div class="homelink">
      <div class="pipiky">
      <img src="assets/1LUC.png">
      </div>
      <div>
        <a class="smallmediafont">Ak by ste nás chceli podporiť.</a>
             <a href="mailto:svetlovmeste@gmail.com"  style="color: black;"><p [textContent]="' svetlovmeste@gmail.com'"></p></a>
            </div>
      <div class="pipiky">
      <img src="assets/2LUC.png">
      </div>
    </div>
    


  </div>
   
  <div class="home3 section">
    <video class="video" controls>
          <source src="assets/video2.mp4" type="video/mp4">
          Your browser does not support the video tag.
      </video> 
  </div>

  <div class="home4 ">
    <div class="pipiky">
      <img src="assets/1LUC.png">
    </div>
      <div> Festival unikátnym spôsobom (formou svetelných, videomappingových 
        či laserových predstavení) približuje širokej verejnosti historické príbehy,komunikuje posolstvá a sústreďuje sa na to,<br> čo je jedinečné a osobité. 
        Divák môže pozorovať impozantné skĺbenie umenia a architektúry v interiéri 
        <br>aj exteriéri.
      </div>  
      <div class="pipiky">
        <img src="assets/2LUC.png">
      </div>
     
  </div>

  
   

</div>
  