.container { 
    display: flex; 
    flex-direction: column;  
   
}
.vcislach{
    margin-top: -1.5625rem;
}

.home5{
    
    display: grid;
    grid-template-rows: 40vh;
    grid-template-columns: 20vw 45vw 35vw;  
    justify-content: center;
    align-items: center;
    text-align: left;    
    background-color: #D7EDF5;
      
    max-height: 100%;
    max-width: 100%;  
    overflow: hidden;  
    
}
.home5 img{
    width: 40%;       
    margin-left: 10vw;
    margin-top: 20vh;
    overflow: hidden;
}

.home5text {
    display: flex; 
    flex-direction: column; 
    align-items: flex-start; 
    
    justify-content: flex-end; 
    align-self: flex-end;
    padding-bottom: 15vh;
    padding-left: 5vw;
    font-size: 1.25rem;
  }

.home4{
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 15vw;
    padding-right: 15vw;
    font-size: 1.25rem;
    
}



.pipiky{ 
      
    padding: 5vw;
}


.video {
  object-fit: cover; 
  width: 85%;
  
}

.home3 {
  
  display: flex; 
  justify-content: center;
  align-items: center; 
  background-color: black;
}

.home {
    position: relative;
    display: block;
    height: 100vh;
    width: 100%;
    overflow: hidden; 
    margin: 0;
    border: 0;
    outline: none;
    background-color: aqua;
    
   
}

.home2{
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
    overflow: hidden; 
    margin: 0;   
    border: 0;
    outline: none;
    font-weight: normal;
    
}

.homegrid1{
    display: grid;
    background-color: #ffffff;
    grid-template-rows: 40vh;
    grid-template-columns: 33.3vw 33.4vw 33.3vw;    
    align-items: center; 
    justify-content: center; 
    text-align: left;       
    margin-left: 15vw;
    font-weight: normal;
    font-size: 1.25rem;
    line-height: 1.3;
    
}

h3 {
    margin-bottom: 7px; 
    padding-bottom: 0; 
  }



.homegrid2{
    display: grid;
    background-color: #D7EDF5;
    grid-template-rows: 50vh;
    grid-template-columns: 33.3vw 33.4vw 33.3vw;    
    
    
}


.homegrid2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-container {
    position: relative; 
    width: 100%; 
    height: 50vh; 
    overflow: hidden;
}

.image-text {
    position: absolute; 
    top: 0; 
    left: 0;      
    opacity: 1; 
    transition: opacity 0.5s ease; 
    z-index: 1; 
    align-items: center; 
    justify-content: center;
    text-align: left;    
    margin-top: 5vh;
    padding-left: 10vw;
    padding-right: 10vw;
    font-size: 1.25rem;
    
    
}

.image-container img {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    transition: opacity 0.5s ease; 
    z-index: 2; 
    overflow: hidden;
}

.image-container:hover img {
    opacity: 0; 
}

.homelink{
    height: 40vh;
    display: flex;
    align-items: center; 
    justify-content: center; 
    text-align: center; 
    background-color: #ffffff;
    font-size: 1.25rem;
}




.smallFont{
    font-size: 1.5625rem !important;
}



.home img {       
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

.homeText {    
    position: absolute;
    bottom: 5%; 
    left: 5%;   
    width: 100%;
    padding: 0px;    
    color: white;
    box-sizing: border-box;
    text-align: left; 
    line-height: 0.8;
}

.homeText p {
    margin: 0;
    padding: 0.625rem;
    font-size: 1.875rem;
}

@media (-webkit-device-pixel-ratio: 1.25) {
    * {
      zoom: 0.8;
    }
  }


@media only screen and (max-width: 600px) {
    .home img {      
        
        object-fit: cover;       
       
    }
    
    .home2{
        font-size: 12px;
    }

    .homeText p {
        font-size: 15px; 
        padding: 5px; 
        font-weight: bold;     
             
    }
    .smallFont{
        font-size: 12px !important;
    }
    .image-text{
        margin-top: 20px;
        padding: 10px;
        
    }  
     
    .homegrid1{
        display: grid;    
        position: relative;    
        grid-template-rows: 15vh 5vh 20vh;
        grid-template-columns: 100vw;                
        margin: 20px 20px 20px 20px;
        font-weight: normal;        
        line-height: 1.3;        
        justify-content: center;
        align-items: center;
        font-size: 12px;    
        text-align: center;   
               
        
    }       
  
    .homegrid2{
        grid-template-rows: 100vw 100vw 100vw;
        grid-template-columns: 100vw;  
              
        
    }
    .image-container {
        position: relative; 
        width: 100%; 
        height: 100%; 
        overflow: hidden;
    }
    
    
    .image-text {    
        width: 100%;
        height: 100%; 
        align-items: center; 
        justify-content: center;           
        text-align: center;       
        font-size: 15px;    
        margin: 0px;   
        padding: 20px;        
        display: flex; 
        flex-direction: column;
        box-sizing: border-box;
        
    }
    .image-container:nth-child(2) br {
        display: none; 
      }

    .smallmediafont{
        font-size: 15px;
    }  
      

    

    .home4{
        height: 50vh;
        font-size: 12px;
        padding-left: 0;
        padding-right: 0;
        
    }
    .home5{  
        
        grid-template-rows: 40vh;
        grid-template-columns: 30vw 70vw;                 
        
    }
    .home5text {
        grid-column: 2; 
      }
      

    
    .home5text{        
        font-size: 12px;
        padding-bottom: 10vh;
        
    }

    .home5 img{
    width: 100%;  
    margin-left: 0vw;
    margin-top: 40vh;
    overflow: hidden;
    }
    .vcislach{
        margin-top: -15px;
    }   
    
}
 


@media only screen and (max-width: 1200px) {
    
    .homegrid2 div{
        font-size: 1rem;        
    }
       

    .video{
        width: 100%;
    }

     
    

   
    .vcislach{
        margin-top: -1rem;
    }

}
